a {
	color : black
}

.name {
  font-size: 28px;
}

body {
  background-image: url('/barm/img/bg.png');
  font-family: Georgia, serif;
  line-height: 1.5;
  margin: 3 auto;
  text-align: center;
}

.page {
  width: 840px;
  margin: 20px auto;
  text-align: left;
  background: #fff;
  border: 3px solid gray;
  border-radius: 8px;
  overflow: hidden;
}

.page .inner{
  margin: 20px;
}


.header {
  text-align:left;
  width: 840px;
  margin: 20px auto;
  margin-bottom: 15px;
  overflow:hidden;
}

.logo {
  float: left;
  margin-right: 25px;
}

.nav{
  background: #fff;
  border: 2px solid #000;
  display: inline-block;
  overflow: hidden;
  margin: 0;
  padding: 0;
  border-radius: 8px;
}

.nav li{
  display: inline-block;
  float: left;
  line-height: 30px;
  border-right: 1px solid #ccc;
  margin: 0;
  padding: 0;
}

.nav li a{
  padding: 10px 20px;
  text-decoration: none;
}

.nav li a:hover{
  background: #ccc;
}

#home .nav li a.home,
#calendar .nav li a.calendar,
#about .nav li a.about,
#blog .nav li a.blog{
  background: #ccc;
}

pre{
  font-size: 12px;
}

.post h2{
  margin-bottom: 5px;
}

.post .posted-by{
  font-size: 10px;
}

.post{
  margin-right: 250px;
  overflow: hidden;
}

.post-links{
  width: 220px;
  margin-left: 10px;
  padding: 0;
  float: right;
  
}

.post-links ul{
  margin: 0;
  padding: 0;
  list-style: none;
  
}

.post-footer{
  margin-right: 250px;
  border-top: 1px solid #ccc;
  margin-top: 25px;
  padding: 20px 0;
}



