<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" >
        <title>{{ page.title }} - Bay Area Radical Mycology</title>

        <meta name="description" content="{{page.description}}">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="css/site.css" type="text/css">

    </head>
    
    <body id="{{page.id}}">
        
        <ul class="nav">
            <li><a class="home" href="/barm/">Home</a></li>
            <li><a class="about" href="about.html">About</a></li>
            <li><a class="calendar" href="calendar.html">Calendar</a></li>
            <li><a class="blog" href="blog.html">Blog</a></li>
        </ul>
        
		{{ content }}
	</body>
</html>

